@page
@model UHPostalService.Pages.Tracking.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="CheckIn">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackingRecord[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingRecord[0].Package)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingRecord[0].Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingRecord[0].TimeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingRecord[0].TimeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingRecord[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TrackingRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
