
@page
@model UHPostalService.Pages.Account.Employees.IndexModel
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>



<!--
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by
            <!--<label asp-for="test" class="control-label"></label>-->
            <!--<input asp-for="Address.State" class="form-control" />
            <select asp-for="test" name="filterby" value="@Model.test" class="form-group">
                <option value="1">Name</option>
                <option value="2">Email</option>
                <option value="3">Phone Number</option>
                <option value="4">Store</option>
                <option value="5">Role</option>
            </select>
            <span asp-validation-for="test" class="text-danger"></span>
    </div>
 </form>-->

<p>
    <a asp-page="Create">Register New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by 
                <select asp-for="test" name="filterby" value="@Model.test" class ="form-group">
					<option value="1">Name</option>
                    <option value="2">Email</option>
                    <option value="3">Phone Number</option>
                    <!--<option value="4">Store</option>
                    <option value="5">Role</option>
                    <option value="4">Store #</option>/>-->
				</select>
				<span asp-validation-for="test" class="text-danger"></span>


            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Employee[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].PhoneNumber)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EmailSort">
                    @Html.DisplayNameFor(model => model.Employee[0].Email)
                </a>
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.Employee[0].Address)
                </th>*@
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StoreSort">
                @Html.DisplayNameFor(model => model.Employee[0].Store)
                </a>            </th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model.Employee)
        {
                    if (!item.Deleted)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Store.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td>
                                @if (User.IsInRole("Admin") || User.IsInRole("Supervisor") || (User.IsInRole("Employee") && item.Id == @Int32.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)))) {
                                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                                    <span>|</span>
                                    
                                            }
                                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                                @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                                {   
                                    <span>|</span>
                                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                }
                            </td>
                        </tr>

                    }
                }
                
                @*<tr>
                    <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetAddress), @Html.DisplayFor(modelItem => item.Address.City), @Html.DisplayFor(modelItem => item.Address.State), @Html.DisplayFor(modelItem => item.Address.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            @if (User.IsInRole("Admin") || (User.IsInRole("Supervisor")))
                    {
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>}
        </tr>}*@

    </tbody>


</table>
