@page
@model UHPostalService.Pages.Sales.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Buyer)
        </dt>
        <dd class="col-sm-10">
            @if (@Html.DisplayFor(model => model.Sale.Buyer.Name) == null) // this doesnt work right now idk why - josh
                    {
                        <p>(Anonymous)</p>

                    }
                    else {
                    @Html.DisplayFor(model => model.Sale.Buyer.Name)
                    }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Product.Desc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.PurchaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.PurchaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sale.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
