@page
@model UHPostalService.Pages.Stores.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Supervisor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Supervisor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Address.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Address.State)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address.Zipcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Store.Address.Zipcode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Store.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
