@page
@model UHPostalService.Pages.Stores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Stores</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by State:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].Supervisor)
            </th>
            <th>
                Address
            </th>
            <!--</th>-->
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StateSort">
                @Html.DisplayNameFor(model => model.Store[0].Address.State)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ZipSort">
                @Html.DisplayNameFor(model => model.Store[0].Address.Zipcode)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store[0].Id)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Store) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
